@page "/test1"

<h3>테스트 페이지</h3>

<p>Blazor 시작 성공!</p>

<button @onclick="ClickMe">클릭</button>

<p>@message</p>

@code {
    string message = "";

    void ClickMe()
    {
        message = "버튼 클릭됨!";
    }
}